/*
 * General
 */

 .clear
 {
 	clear: both;
 }

body
{
	background: #FAFAFA;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	overflow-x: hidden; 
}

.button
{
	padding: 15px 30px;
	box-sizing: border-box;
	font-size: 0.833em;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	transition: border 0.15s ease, color 0.15s ease, background 0.15s ease;
	cursor: pointer;
	border-radius: 50px;
}

.button-1
{
	background: #d73380;
	border: solid 3px #d73380;
	color: #FAFAFA;
}

.button-1:hover
{
	background: #FAFAFA;
	border: solid 3px #FAFAFA;
	color: #d73380;
}

.button-2
{
	border: solid 3px #FAFAFA;
	color: #FAFAFA;
}

.button-2:hover
{
	border: solid 3px #d73380;
	color: #d73380;
}

.pop-in
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	will-change: opacity;
	transition: opacity 0.3s ease;
	z-index: -1000;
	display: none;
}

.pop-in .pop-tile
{
	width: 40%;
	margin: auto;
	background: #FAFAFA;
	height: auto;
	border-radius: 10px;
	padding: 90px 7% 50px 7%;
	box-sizing: border-box;
	margin-top: 100px;
	transform: scale(0);
	will-change: transform;
	transition: transform 0.3s ease;
}

.pop-in .pop-in-close
{
	padding: 20px 30px;
	background: #d73380;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

::-webkit-input-placeholder
{
  color: rgba(127, 127, 127, 0.8);
}

::-moz-placeholder
{
  color: rgba(127, 127, 127, 0.8);
}
